xsd/quiz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:p="http://prato.org"
           targetNamespace="http://prato.org"
           elementFormDefault="qualified">

    <xs:element name="quiz">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="disciplina" type="xs:string"/>
                <xs:element name="professor" type="p:professorType"/>
                <xs:element name="turma" type="xs:string"/>
                <xs:element name="data" type="xs:date"/>
                <xs:element name="questoes" type="p:questoesType"/>
            </xs:sequence>
            <xs:attribute name="versao" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="professorType">
        <xs:sequence>
            <xs:element name="nome" type="xs:string"/>
            <xs:element name="matricula" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="questoesType">
        <xs:sequence>
            <xs:element name="questao" type="p:questaoType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="questaoType">
        <xs:sequence>
            <xs:element name="enunciado" type="xs:string"/>
            <xs:element name="pontuacao" type="xs:integer"/>
            <xs:element name="alternativas" type="p:alternativasType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="alternativasType">
        <xs:sequence>
            <xs:element name="alternativa" type="p:alternativaType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="alternativaType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="correta" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="sim"/>
                            <xs:enumeration value="nao"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>